
* {
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

html {
    direction: rtl;
}

.head-bg {
    min-height: 35vh;
    width: 100%;

}

nav {
    display: flex;
    padding: 2% 3%;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse
    
}

nav img {
    width: 110px;
}

.nav-links {
    flex: 1;
    text-align: right;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 45px;
    position: relative;
}

.nav-links ul li a {
    color: #5A5A5A;
    text-decoration: none;
    font-size: 22px;
    font-weight: bolder;
}

.nav-links ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #D11212;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after {
    width: 100%;
}

.text-box {
    width: 90%;
    position: absolute;
    top: 25%;
    right: 5.5%;
    
}

.text-box h1 {
    font-weight: 50em;
    font-size: 65px;
    color: #D11212;
    padding-right: 1.4em;
    animation-duration: 2s
}

.head-bg h1 {
    margin-top: -0.4em;
    position: relative
}


nav .fa {
    display: none;
}

@media(max-width: 1300px) {
    .text-box{
        padding-bottom: 5em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .text-box h1{
        font-size: 50px;
        text-align: center;
        margin-left: 1.4em;
    }

    .nav-links ul li{
        display: block;
    }
    .nav-links{
        position: absolute;
        background: #DADADA;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: right;
        z-index: 2;
        transition: 1s;
    }
    nav .fa{
        display: block;
        color: #DADADA;
        margin: 10px;
        width: 8%;
        cursor: pointer;
    }
    .nav-links ul li{
        padding: 35px 8px;
    }

}

.container {
    display: flex;
    margin: 0px auto 0;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

.container .box {
    position: relative;
    width: 590px;
    height: 490px;
    overflow: hidden;
    background: white;
    margin: 0 20px 20px 40px;
    box-sizing: border-box;
}

.img12 {
    padding-top: 2em;
    padding-right: 1em;
}

.container .box .img-box {
    position: relative;
    overflow: hidden;
}

.container .box .img-box img {
    max-width: 100%;
    padding-left: 10px;
    transition: 1s;
}

.container .box:hover .img-box img {
    transform: scale(1.2);
    opacity: 1;
}

.container .box .text {
    position: absolute;
    top: 30px;
    left: 10px;
    bottom: 10px;
    right: 10px;
    background: #696969;
    transform: scaleY(0);
    transition: transform .5s;
    color: white;
    font-size: 22px;
    opacity: .9;
}

.container .box:hover .text {
    transform: scaleY(1);
}

.foot {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 1em;
}

.foot-img2 {
    text-align: center;
}









